.service-container {
  text-align: center;
  margin-bottom: 100px;
}

.service-container h3 {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 13px;
  color: #1683fc;
  margin-bottom: 5px;
}

.service-container h2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 35px;
  color: #1b2336;
  margin-bottom: 100px;
  text-align: center;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 50px;
}

.service-cards .service-card {
  text-align: center;
  padding: 0px 70px 0px 70px;
}

.service-card .img-container {
  width: 100%;
}
.service-card .img-container img {
  height: 200px;
  object-fit: contain;
  margin-top: -60px;
}
.service-card .service-card-title {
  text-align: center;
}

.service-card h5 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #1d5ab8;
}

.service-btn {
  background: #2279fc;
  border: 1px solid #2279fc;
  border-radius: 3px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  padding: 15px 40px;
  margin-top: 100px;
}

.service-btn:hover {
  background-color: #ffffff;
  color: #3270ff;
  cursor: pointer;
}

.service-card {
  background: #ecf7ff;
}

@media (max-width: 1024px) {
  .service-cards {
    padding: 0 20px;
  }

  .service-card .img-container img {
    height: 150px;
    margin-top: -40px;
  }

  .service-cards .service-card {
    padding: 0px 30px 0px 30px;
  }
}

@media (max-width: 768px) {
  .service-cards {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }

  .service-card {
    grid-column: span 2;
  }

  .service-card:nth-last-child(1):nth-child(odd) {
    grid-column: 2 / span 2;
  }
}

@media (max-width: 430px) {
  .service-container h2 {
    padding: 15px;
  }
  .service-cards {
    gap: 60px 30px;
  }

  .service-card h5 {
    font-size: 15px;
  }
  .service-card .img-container img {
    height: 80px;
    margin-top: -25px;
  }

  .service-btn {
    margin-top: 50px;
  }
}
